In [98]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import datetime
%matplotlib inline

In [99]:
# 日本円のレートをかけることで、レートを変換するという手もある。
assetNames = ['EURO', 'AUL', 'CAN','FRA','GER','JAP', 'USA']
fileNames = ['EZU','EWA' ,'EWC','EWQ','EWG','EWJ', '^GSPC']
prices = pd.read_csv('price.csv', index_col=0)

In [101]:
# Webページを取得して解析する
newDatas = {}
index = 0
for fileName in fileNames:
        load_url = "https://finance.yahoo.com/quote/" + fileName + "?p=" + fileName + "&.tsrc=fin-srch"
        print(load_url)
        html = requests.get(load_url)
        soup = BeautifulSoup(html.content, "html.parser")
        newDatas[assetNames[index]] = soup.find("td", attrs={"data-test" : "PREV_CLOSE-value"}).find("span", attrs={'class': 'Trsdu(0.3s)'}).get_text().replace(',', '')
        index += 1

https://finance.yahoo.com/quote/EZU?p=EZU&.tsrc=fin-srch
https://finance.yahoo.com/quote/EWA?p=EWA&.tsrc=fin-srch
https://finance.yahoo.com/quote/EWC?p=EWC&.tsrc=fin-srch
https://finance.yahoo.com/quote/EWQ?p=EWQ&.tsrc=fin-srch
https://finance.yahoo.com/quote/EWG?p=EWG&.tsrc=fin-srch
https://finance.yahoo.com/quote/EWJ?p=EWJ&.tsrc=fin-srch
https://finance.yahoo.com/quote/^GSPC?p=^GSPC&.tsrc=fin-srch

In [102]:
# csvへ保存
index = 0
for newData in newDatas.values():
        prices.loc[assetNames[index], datetime.datetime.now().strftime('%Y-%m-%d')] = newData
        index += 1
prices.to_csv('price.csv')

In [103]:
newDatas

{'EURO': '39.91',
 'AUL': '20.89',
 'CAN': '28.39',
 'FRA': '29.67',
 'GER': '30.02',
 'JAP': '57.93',
 'USA': '3380.35'}

In [104]:
prices

,1996-03-19,1996-03-20,1996-03-21,1996-03-22,1996-03-25,1996-03-26,1996-03-27,1996-03-28,1996-03-29,1996-04-01,...,2020-08-03,2020-08-04,2020-08-05,2020-08-06,2020-08-07,2020-08-10,2020-08-11,2020-08-12,2020-08-13,2020-08-14
EURO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.430000,38.619999,38.810001,38.889999,38.669998,38.720001,38.959999,39.910000,39.824100,39.91
AUL,10.125000,10.12500,10.250000,10.250000,10.250000,10.250000,10.250000,10.250000,10.2500,10.37500,...,20.190001,20.320000,20.400000,20.540001,20.389999,20.610001,20.629999,20.889999,20.700001,20.89
CAN,10.375000,10.37500,10.375000,10.375000,10.375000,10.375000,10.375000,10.375000,10.4375,10.43750,...,27.379999,27.770000,28.090000,28.200001,27.950001,28.139999,28.129999,28.389999,28.440001,28.39
FRA,12.750000,12.75000,12.625000,12.625000,12.625000,13.000000,12.875000,12.937500,13.1875,13.18750,...,28.469999,28.639999,28.850000,28.910000,28.709999,28.770000,29.010000,29.670000,29.660000,29.67
GER,13.500000,13.50000,13.500000,13.500000,13.687500,13.625000,13.500000,13.625000,13.5000,13.56250,...,28.980000,29.000000,29.120001,29.290001,29.200001,29.200001,29.320000,30.020000,29.950001,30.02
JAP,60.000000,60.00000,61.500000,61.250000,61.750000,61.750000,62.250000,62.250000,62.7500,62.75000,...,55.439999,56.060001,56.020000,55.980000,56.000000,56.270000,56.730000,57.930000,57.924999,57.93
USA,651.690002,649.97998,649.190002,650.619995,650.039978,652.969971,648.909973,648.940002,645.5000,653.72998,...,3294.610107,3306.510010,3327.770020,3349.159912,3351.280029,3360.469971,3333.689941,3380.350098,3373.429932,3380.35