In [88]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [94]:
# 日本円のレートをかけることで、レートを変換するという手もある。
assetNames = ['EURO', 'AUL', 'CAN','FRA','GER','JAP', 'USA']
fileNames = ['EZU','EWA' ,'EWC','EWQ','EWG','EWJ', '^GSPC']

In [95]:
# todo 行銘柄　列日付のデータをつくる

In [96]:
index = 0
dates = []
for assetName in assetNames:
    fileName = fileNames[index]
    dataTable = pd.read_csv(fileName + '.csv')
    index += 1
    dates.extend(dataTable['Date'])
dates = sorted(list(set(dates)))
prices = pd.DataFrame(columns = assetNames, index = dates)

In [97]:
index = 0
for assetName in assetNames:
    fileName = fileNames[index]
    dataTable = pd.read_csv(fileName + '.csv')
    index += 1
    for jndex, record in dataTable.iterrows():
        prices.loc[record["Date"], assetName] = record["Close"]
prices = prices.T
prices.to_csv('price.csv')

,1996-03-19,1996-03-20,1996-03-21,1996-03-22,1996-03-25,1996-03-26,1996-03-27,1996-03-28,1996-03-29,1996-04-01,...,2020-07-31,2020-08-03,2020-08-04,2020-08-05,2020-08-06,2020-08-07,2020-08-10,2020-08-11,2020-08-12,2020-08-13
EURO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.67,38.43,38.62,38.81,38.89,38.67,38.72,38.96,39.91,39.8241
AUL,10.125,10.125,10.25,10.25,10.25,10.25,10.25,10.25,10.25,10.375,...,19.91,20.19,20.32,20.4,20.54,20.39,20.61,20.63,20.89,20.7
CAN,10.375,10.375,10.375,10.375,10.375,10.375,10.375,10.375,10.4375,10.4375,...,27.31,27.38,27.77,28.09,28.2,27.95,28.14,28.13,28.39,28.44
FRA,12.75,12.75,12.625,12.625,12.625,13,12.875,12.9375,13.1875,13.1875,...,27.95,28.47,28.64,28.85,28.91,28.71,28.77,29.01,29.67,29.66
GER,13.5,13.5,13.5,13.5,13.6875,13.625,13.5,13.625,13.5,13.5625,...,28.25,28.98,29,29.12,29.29,29.2,29.2,29.32,30.02,29.95
JAP,60,60,61.5,61.25,61.75,61.75,62.25,62.25,62.75,62.75,...,54.33,55.44,56.06,56.02,55.98,56,56.27,56.73,57.93,57.925
USA,651.69,649.98,649.19,650.62,650.04,652.97,648.91,648.94,645.5,653.73,...,3271.12,3294.61,3306.51,3327.77,3349.16,3351.28,3360.47,3333.69,3380.35,3373.43

,1980-01-02,1980-01-03,1980-01-04,1980-01-07,1980-01-08,1980-01-09,1980-01-10,1980-01-11,1980-01-14,1980-01-15,...,2020-07-29,2020-07-30,2020-07-31,2020-08-03,2020-08-04,2020-08-05,2020-08-06,2020-08-07,2020-08-10,2020-08-11
AUL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.66,56.05,55.22,54.98,55.94,55.67,56.01,55.7,56.67,57.19
CAN,1806.1,1789.4,1795.2,1814.1,1832.6,1854,1884.1,1898.7,1922.2,1944.5,...,16294.7,16299.3,16169.2,NaN,16368,16501.6,16579.1,16544.5,16605.5,16625.7
FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4958.74,4852.94,4783.69,4875.93,4889.52,4933.34,4885.13,4889.52,4909.51,5027.99
GER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12822.3,12379.7,12313.4,12647,12600.9,12660.2,12591.7,12674.9,12687.5,12946.9
JAP,NaN,NaN,6560.16,6552.65,6563.28,6591.83,6594.01,6615.51,6659.55,NaN,...,22397.1,22339.2,21710,22195.4,22573.7,22514.8,22418.2,22329.9,NaN,22750.2
USA,105.76,105.22,106.52,106.81,108.95,109.05,109.89,109.92,110.38,111.14,...,3258.44,3246.22,3271.12,3294.61,3306.51,3327.77,3349.16,3351.28,3360.47,NaN