In [83]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [84]:
assetNames = ['AUL','CAN','FRA','GER','JAP', 'USA']
fileNames = ['STW.AX','^GSPTSE' ,'^FCHI','^GDAXI','^N225','^GSPC']

In [85]:
# todo 行銘柄　列日付のデータをつくる

In [86]:
index = 0
dates = []
for assetName in assetNames:
    fileName = fileNames[index]
    dataTable = pd.read_csv(fileName + '.csv')
    index += 1
    dates.extend(dataTable['Date'])
dates = sorted(list(set(dates)))
prices = pd.DataFrame(columns = assetNames, index = dates)

In [87]:
index = 0
for assetName in assetNames:
    fileName = fileNames[index]
    dataTable = pd.read_csv(fileName + '.csv')
    index += 1
    for jndex, record in dataTable.iterrows():
        prices.loc[record["Date"], assetName] = record["Close"]
prices = prices.T
prices.to_csv('price.csv')

,1980-01-02,1980-01-03,1980-01-04,1980-01-07,1980-01-08,1980-01-09,1980-01-10,1980-01-11,1980-01-14,1980-01-15,...,2020-07-29,2020-07-30,2020-07-31,2020-08-03,2020-08-04,2020-08-05,2020-08-06,2020-08-07,2020-08-10,2020-08-11
AUL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.66,56.05,55.22,54.98,55.94,55.67,56.01,55.7,56.67,57.19
CAN,1806.1,1789.4,1795.2,1814.1,1832.6,1854,1884.1,1898.7,1922.2,1944.5,...,16294.7,16299.3,16169.2,NaN,16368,16501.6,16579.1,16544.5,16605.5,16625.7
FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4958.74,4852.94,4783.69,4875.93,4889.52,4933.34,4885.13,4889.52,4909.51,5027.99
GER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12822.3,12379.7,12313.4,12647,12600.9,12660.2,12591.7,12674.9,12687.5,12946.9
JAP,NaN,NaN,6560.16,6552.65,6563.28,6591.83,6594.01,6615.51,6659.55,NaN,...,22397.1,22339.2,21710,22195.4,22573.7,22514.8,22418.2,22329.9,NaN,22750.2
USA,105.76,105.22,106.52,106.81,108.95,109.05,109.89,109.92,110.38,111.14,...,3258.44,3246.22,3271.12,3294.61,3306.51,3327.77,3349.16,3351.28,3360.47,NaN

,1980-01-02,1980-01-03,1980-01-04,1980-01-07,1980-01-08,1980-01-09,1980-01-10,1980-01-11,1980-01-14,1980-01-15,...,2020-07-29,2020-07-30,2020-07-31,2020-08-03,2020-08-04,2020-08-05,2020-08-06,2020-08-07,2020-08-10,2020-08-11
AUL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.66,56.05,55.22,54.98,55.94,55.67,56.01,55.7,56.67,57.19
CAN,1806.1,1789.4,1795.2,1814.1,1832.6,1854,1884.1,1898.7,1922.2,1944.5,...,16294.7,16299.3,16169.2,NaN,16368,16501.6,16579.1,16544.5,16605.5,16625.7
FRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4958.74,4852.94,4783.69,4875.93,4889.52,4933.34,4885.13,4889.52,4909.51,5027.99
GER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12822.3,12379.7,12313.4,12647,12600.9,12660.2,12591.7,12674.9,12687.5,12946.9
JAP,NaN,NaN,6560.16,6552.65,6563.28,6591.83,6594.01,6615.51,6659.55,NaN,...,22397.1,22339.2,21710,22195.4,22573.7,22514.8,22418.2,22329.9,NaN,22750.2
USA,105.76,105.22,106.52,106.81,108.95,109.05,109.89,109.92,110.38,111.14,...,3258.44,3246.22,3271.12,3294.61,3306.51,3327.77,3349.16,3351.28,3360.47,NaN